.login{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 1rem auto;
    font-family: 'Inter', sans-serif;
    background-color: rgb(255, 255, 255);
    padding:1rem 2rem;
    box-sizing: border-box;
    border-radius: 10px;

}


.login h1{
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}

.login p{
    margin:0 0 5rem 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p,.footer a{
    margin: 1rem 2px;
}
